<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="utf-8"/>
	<title>Main</title>
	<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
</head>
<body>
<div  sec:authorize="isAuthenticated()" class="container">
	<div class="row">
		<div class="col-12 text-center">
			<h3> <a href="/paymybuddy/users">Users list</a> | <a href="/logout">Logout</a> | <a href="/logout">my bank account</a>| <a href="/logout">transfert money</a></h3>
		</div>
	</div>
	<div class="row">
		<h2>Welcome
			<span th:text = "${currentUser.firstName}"></span>
		</h2>
	</div>
	<div class="row">
		<h2 >Your total amount is :
			<span th:text ="${currentUser.getTotalAmount()}"></span>
		</h2>
	</div>
	<div class="row">
		<h3 class="mr-2">Search an User : </h3>
			<form method="get" th:action="@{'/paymybuddy/search'}" th:object="${usersMinimalsInfoDTO}">
				<input id="email" placeholder="Enter an email" required type="text" name="email"/>
				<input class="btn btn-primary btn-sm" type="submit" value="Search User">
			</form>
		<div class="row mt-2 col-10 alert alert-danger" th:if="${error}" th:text="${error}"></div>
		<!--<div class="row mt-2 col-10 success alert-success" th:if="${addedUser}" >user added Succes</div>
		<div class="row mt-2 col-10 success alert-success" th:if="${removedUserUser}" >user removed Succes</div>-->


		<table th:if="${foundedUser}" class="table table-bordered">
				<thead>
				<tr>
					<th>Full Name</th>
					<th>User Name</th>
					<th>email</th>
					<th>add user</th>
				</tr>
				</thead>
			<tbody >
				<tr >
					<td  th:text="${foundedUser.firstName}"></td>
					<td  th:text="${foundedUser.lastName}"></td>
					<td  th:text="${foundedUser.email}"></td>
					<td >
						<form th:action="@{'/paymybuddy/users/addfriends'}" th:method="post">
							<input type="hidden" name="email" id="mail" th:value='${foundedUser.email}'/>
							<button type="submit" class="btn btn-primary btn-sm" >Add</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>


		<div class="row mt-5">
			<h4 >Your Friends list :</h4>

		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Full Name</th>
					<th>User Name</th>
					<th>email</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${currentUser.getFriends()}">
					<!--					<td style="width: 10%" th:text="${user.id}"></td>-->
					<td th:text="${user.firstName}"  ></td>
					<td th:text="${user.lastName}"></td>
					<td style="width: 25%" th:text="${user.email}"></td>
					<td >
						<form th:action="@{'/paymybuddy/users/transaction'}" th:method="post">
							<input type="hidden" name="receiverEmail" id="receiverEmail" th:value='${user.email}'/>
							<button type="submit" class="btn btn-primary btn-sm" >sendMoney</button>
						</form>
					</td>
					<td >
						<form th:action="@{'/paymybuddy/users/removefriends'}" th:method="post">
							<input type="hidden" name="removeUserEmail" id="removeUserEmail" th:value='${user.email}'/>
							<button type="submit" class="btn btn-danger btn-sm" >Remove</button>
						</form>
					</td>

					<!--<td style="width: 15%" class="text-center">
						<a th:href="@{/templates/users/update/{id}(id=${user.id})}">Edit</a>&nbsp;|&nbsp;
						<a th:href="@{/templates/users/delete/{id}(id=${user.id})}">Delete</a>
					</td>-->
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>