<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

	<head>
		<meta charset="utf-8"/>
		<title>userSearch</title>
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
	</head>

	<body>
		<div  sec:authorize="isAuthenticated()" class="container">
			<div class="row">
				<div class="col-12 text-center">
					<h3>
						<a href="/paymybuddy/myprofil">Home</a> |
						<a href="/paymybuddy/history">History</a> |
						<a href="/logout">Logout</a></h3>
				</div>
			</div>

			<div class="row"><h2>Search an User</h2></div>
			<div class="row">
				<form method="post" th:action="@{/users/}" th:object="${UsersMinimalsInfoDTO}">
					<input id="email" placeholder="Enter an email" required type="text" th:field="*{email}"/>
					<input type="submit" value="Search User">
				</form>
			</div>
			<tbody>
				<tr>
					<td th:text="${user.firstName}"></td>
					<td th:text="${user.lastName}"></td>
					<td th:text="${user.email}"></td>
					<td >
						<form th:action="@{'/paymybuddy/users/addfriends/'+${currentUser.id}}" th:method="post">
							<input type="hidden" name="email" id="email" th:value='${user.email}'/>
							<button type="submit" class="btn btn-primary btn-sm" >Add</button>
						</form>
					</td>
				</tr>
			</tbody>
		</div>
	</body>
</html>